@model VS_NETCORE.Models.Curation.ViewModel

<div class="row" style="margin-bottom: 20px;">
</div>
    <div class="row" >
        @foreach (var title in Model.CurationViewModel)
        {
            <div class="col-lg-4">
                <div class="bs-component">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@title.HPTitle</h3>
                        </div>
                        @foreach (var m in title.CurationTitleViewModel)
                        {
                            <div class="panel-body">
                                <a href="@m.Link">@m.Title</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
